{
  "src/**/*.{ts}": [
    "vue-tsc --noEmit --skipLibCheck",
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{js,ts,vue}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{css,md,json}": [
    "prettier --write"
  ],
  "tests/**/*.{ts}": [
    "vue-tsc --noEmit --skipLibCheck",
    "eslint --fix",
    "prettier --write"
  ],
  "tests/**/*.{js,ts,vue}": [
    "eslint --fix",
    "prettier --write"
  ],
  "tests/**/*.{css,md,json}": [
    "prettier --write"
  ]
}
